.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 600px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #013a0400;
    border-radius: 8px;
    text-align: center;
    background-color: #037585;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
    color: #fdf905;
  }
  
  .about-container h2 {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .about-container p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .contAbout {
    max-width: 80%;
    height: 800px;
    border-radius: 8px;
    background-color: #0115226b;
    padding: 2%;
    margin-top: 2%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.658);
  }  

  .about-list {
    column-count: 4;
    column-gap: 20px;
  }
  
  .about-list li {
    margin-bottom: 10px;
  }

  .about-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  
  .about-container ul li {
    margin-bottom: 5px;
  }

  .nameAbout {
    margin-top: 30px;
    color: aliceblue;
  }

  .enter-button-about {
    height: 50px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    /* cursor: pointer; */
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.658);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

   .enter-button-about:hover {
    background-color: #dddedf;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.658);
    transform: scale(1.1);
    color: #181717;
  }

  .enter-button-about-text span {
    font-size: 18px;    
  }
  
  .profile-image {
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: -25px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.658);
  }

  .profile-image:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.658);
    transition: transform 0.4s;
  }
  