 .containerformActividades {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-right: 20px;
  background-repeat: no-repeat;
  margin-right: 0;
  background-size: cover;
  background-image: url("../../assets/activitiesFondoDelfi.jpg");
  }

  .form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      height: 80%;
      max-width: 700px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      background-color: #95979762;
      box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.658);
  }
  
  .formGroup {
    flex-basis: 50%;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  select {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .createActivityBtn {
    display: block;
    width: 250px;
    height: 50px;
    padding: 10px;
    background-color: #676768;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.658);
    border-color: 1px solid rgb(253, 251, 251);
    border: 1px solid rgb(253, 251, 251);
  }
  
  .createActivityBtn:hover {
    background-color: #138b03;
    box-shadow: 0 5px 5px rgb(0, 0, 0);
    border: 1px solid rgb(253, 251, 251);
  }

  .closeButton-Activities {  
    background-color: #676768;
    color: aliceblue;
    width: 250px;
    height: 50px;
    box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.658);
    border: 1px solid rgb(253, 251, 251);
  }
  
  .closeButton-Activities:hover {  
  background-color: #fa0404;
  box-shadow: 0 5px 5px rgb(0, 0, 0);
  border: 1px solid rgb(253, 251, 251);
  }
   
  .formActions {
    display:flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;
    gap: 1em;
  }