.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;  
  overflow: hidden;
  background: #7ee0f8;
}

.planetLogin-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir todo el espacio disponible */
  /* z-index: -1; */
}

.nombre-image {
  margin-left: 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 20%;
  object-fit: cover; 
  /* z-index: -1; */
}

.contenedor {
  width: 20%;
  margin-left: 50%;
  border: 1px solid #fa000000; 
  padding: 20px;  
  border-radius: 5px;
  background-color: rgba(6, 77, 134, 0);
}

.login-group {
  margin-bottom: 1rem;
}

label {
  font-size: 1.5rem;
  color: #252525;
}

.login-input {
  height: 1.5rem;
  padding: .5rem;
  font-size: 1.0rem;
  border: 1px solid #0505f100; 
  border-radius: 5px;
  width: 100%;
  background-color: rgb(235, 235, 233);
}

.error-message {
  color: #ff0000;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.login-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(235, 235, 233);
  color: #272727;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #2d2d2e00;
  margin-left: 50%;
}

.login-button:hover {
  color: rgb(235, 235, 233);
  background-color: #2d2c85cb;
  border: 2px solid #2d2d2e00;
}

