.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 213, 247);
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25 px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    width: 18%;
    max-width: 20%;

}

.card-container:hover {
    transform: scale(1.05);
}

.card-image {
    width: fit-content;
}