.card {
  width: calc(70% - 20px); /* Ajusta el ancho de las cartas */
  margin: 5px;
  padding: 36px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: contain;
  border-radius: 10px;
}

.card-title {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}

.card-continent {
  margin-top: 5px;
  font-size: 11px;
  color: #888;
}
